.container {
  margin: 0 auto;
  padding: 0 20px;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-input,
.search-button {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  outline: none;
  box-sizing: border-box;
}

.search-input {
  vertical-align: middle;
  width: 70%;
  border-radius: 20px 0 0 20px;
}

.search-button {
  width: 30%;
  border-left: none;
  border-radius: 0 20px 20px 0;
  background-color: #fff;
  cursor: pointer;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.5);
  height: 56px;
  position: relative;
}

.menu-logo {
  display: flex;
  align-items: center;
}

.header-wrapper form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
}

.fa-bars {
  padding-right: 20px;
  font-size: 24px;
}

.header-title {
  font-size: 24px;
}


.header-right {
}


