.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.search-input,
.search-button {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  outline: none;
  box-sizing: border-box;
}

.search-input {
  vertical-align: middle;
  width: 70%;
  border-radius: 20px 0 0 20px;
}

.search-button {
  width: 30%;
  border-left: none;
  border-radius: 0 20px 20px 0;
  background-color: #fff;
  cursor: pointer;
}

.header-wrapper {
  background-color: rgba(0,255,0,0.7);
  height: 56px;
  position: relative;
}

.header-wrapper form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
}

.header-title {
  float: left;
}


.header-right {
  float: right;
}


