@media screen and (max-width: 768px) {
  .header-wrapper {
    height: 120px;
    align-items: flex-start;
  }
  .search-form {
    margin-top: 65px;
    padding-left: 40px;
    width: 100%;
  }

  .search-input {
    width: 80%;
  }

  .search-button {
    width: 85px;
  }

  .user-actions {
    margin-top: 20px;
    margin-right: 10px;
  }
}


@media screen and (max-width: 480px) {
  .search-input {
  }

  .search-button {
  }
}
